@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* 1. All Imports MUST come first */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap");

/* 2. Then, all other CSS rules */
body {
  font-family: "poppins", sans-serif;
  /* ... other styles */
}

body {
  font-family: "poppins", sans-serif;
}
